:host {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  height: 94vh;
  margin: 0;
  background-image: url("../assets/backgrouncolor.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  body {
    display: block;
  }
}
