:host {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  body {
    display: block;
  }
}
