<div class="time">
  <h1>{{ dateTime | date:'h:mm' }}</h1>
  <h2>{{ dateTime | date:'a' }}</h2>
  <h2>{{ dateTime | date:'EEEE, MMMM d' }}</h2>
</div>

<button (click)="this.isToggleVersion = !this.isToggleVersion" *ngIf="isToggleVersion; else miniVersion">Mini version
</button>
<button (click)="this.isToggleVersion = !this.isToggleVersion" *ngIf="!isToggleVersion; else fullVersion">Full version
</button>

<ng-template #fullVersion>
  <app-fullversion></app-fullversion>
</ng-template>

<ng-template #miniVersion>
  <app-notfullversion></app-notfullversion>
</ng-template>

