:host {
  color: black;
  background-color: #f8f8f8;
  padding: 40px 50px;
  min-width: 1000px;
  max-height: 350px;
  font-family: Poppins, sans-serif;

  button {
    margin: 0 5px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete-task__bin {
      width: 40px;
      height: 40px;
      cursor: pointer;

      &:hover {
        width: 40px;
        height: 40px;
        content: url("../../../../assets/bin2.svg");
      }
    }
  }

  .task-name {
    font-size: 40px;
    margin: 40px 0;
    border: 0;
  }

  .task-name-input {
    width: 950px;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 5px;
  }

  .select-drop-down {
    display: flex;
    align-items: center;

    p {
      font-size: 15px;
      margin: 10px;
    }
  }
}
