:host {
  max-width: 675px;
  margin: 0;

  .time {
    position: absolute;
    top: 20px;
    right: 10px;
    color: var(--btn-txt-color);

    h2 {
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: -80px;
    }

    h1 {
      margin-left: 0;
      font-size: 80px;
      color: var(--btn-txt-color);
    }
  }

  p {
    margin: 0;
  }

  h1 {
    margin: 0;
    font-size: 80px;
    color: var(--btn-txt-color);
  }

  .dashboard {
    width: 100%;
    background-color: var(--background-white-black);

    &-info {
      background-color: var(--background-white-black);

      &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;

        .dashboard-info__item {
          margin: 0 15px;
          display: flex;

          &__background {
            border-radius: 10px;
            padding: 10px 5px;
            background-color: var(--btn-background);
          }

          .tag__name {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--btn-txt-color);
            margin: 0 5px 0 0;
          }

          .tag__value {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: var(--color-txt-white-black);
            background-color: var(--background-white-black);
          }

          .dashboard-info__btn-delete {
            background-color: red;
            height: 40px;
            display: flex;
            align-items: center;
            border: 0;
            border-radius: 10px;
            color: var(--btn-txt-color);

            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }

    .dashboard-content {
      background-color: var(--background-white-black);

      .task-list__wrapper {
        height: 290px;
        overflow: auto;
        margin: 15px;

        .task-list {
          width: 100%;

          :hover {

            .task-list__btn {
              display: flex;
              padding-right: 10px;
              cursor: pointer;
            }
          }

          &__item {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #dbdbdb;
            border-radius: 10px;
            box-shadow: 0 0 5px #dbdbdb;
            margin: 10px;

            .task-list__btn {
              display: none;
            }
          }
        }

        .task-list__item-task-completed {
          text-decoration: line-through;
          color: gray;
          background-color: var(--background-black-grey);
        }
      }

      .task-new {
        padding: 15px 0;
        width: 100%;
        height: 50px;
        background-color: var(--background-white-black);
        display: flex;
        justify-content: center;
        align-items: center;

        &__field {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border: 4px solid #3e82c3;
          border-radius: 50px;
          background-color: white;
          margin: 0 20px;
        }
      }
    }
  }

  .btn-info {
    width: 150px;
    height: 40px;
    border: 0;
    background-color: #3e82c3;
    position: absolute;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
    color: white;
  }

  .info-content {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(1, 46, 89);
    position: absolute;
    right: 30px;
    bottom: 50px;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
  }

  .dashboard-info__dark-mode {
    background-color: black;
    color: white;
  }

  .tag_dark-mode {
    background-color: black;
    color: white;
  }
}



@media screen and (max-width: 1200px) {
  :host {

    .time {

      h1 {
        display: none;
      }

      h2 {
        display: none;
      }
    }

    .page-title {
      display: flex;
      justify-content: center;
      font-size: 35px;
    }

    .btn-info {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 20px;
    }

    .info-content {
      position: absolute;
      right: 0;
      bottom: 20px;
    }

    .dashboard {

      .dashboard-info__list .dashboard-info__item {
        margin: 0;
      }

      .dashboard-content .task-list__wrapper {
        height: 65vh;

        .task-list:hover .task-list__btn .task-list__time {
          display: none;
        }

        .task-list__item .task-list__bin {
          margin: 0;
          padding: 0;
          width: 20px;
          height: 20px;
        }
      }

      .dashboard-info__btn-delete {

        img {
          display: none;
        }
      }
    }
  }
}



