<app-input (changeStatusAllTasks)="updateAllTasks($event)"></app-input>

<div cdkDropListGroup>
  <div class="example-container">
    <div class="example-container__title-todo">
      <h2>To do</h2>
      <p class="example-container__value">{{countToDoTask()}}</p>
    </div>
    <div cdkDropList
         [cdkDropListData]="allTasks"
         class="example-list"
         #toDolist="cdkDropList"
         [cdkDropListConnectedTo]="[doneList]"
         (cdkDropListDropped)="drop($event, status.ToDo)">
      <div class="example-box" *ngFor="let task of todo()" cdkDrag [cdkDragData]="task" [routerLink]="'/details/'+ task.id">
        <div class="example-box__text" [routerLink]="'/details/'+ task.id">
          {{task.name}}
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <div class="example-container__title-todo">
      <h2>In progress</h2>
      <p class="example-container__value">{{countInProgressTask()}}</p>
    </div>
    <div cdkDropList
         #doneList="cdkDropList"
         [cdkDropListData]="inProgress()"
         class="example-list"
         [cdkDropListConnectedTo]="[toDolist]"
         (cdkDropListDropped)="drop($event, status.InProgress)">
      <div class="example-box" *ngFor="let task of inProgress()" cdkDrag [cdkDragData]="task">
        <div class="example-box__text" [routerLink]="'/details/'+ task.id">
          {{task.name}}
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <div class="example-container__title-todo">
      <h2>Done</h2>
      <p class="example-container__value">{{countDoneTask()}}</p>
    </div>
    <div cdkDropList
         #doneList="cdkDropList"
         [cdkDropListData]="done()"
         class="example-list"
         [cdkDropListConnectedTo]="[toDolist]"
         (cdkDropListDropped)="drop($event, status.Done)">
      <div class="example-box example-box__done" *ngFor="let task of done()" cdkDrag [cdkDragData]="task">
        <div class="example-box__text" [routerLink]="'/details/'+ task.id">
          {{task.name}}
        </div>
        <div class="example-box__button-bin">
          <img src="../../../assets/bin.svg" (click)="deleteOneTask(task.id)" alt="Delete task">
        </div>
      </div>
    </div>
  </div>
</div>
